input.custom {
    padding: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #FFF;
    font-size: 30px;
    font-family: Helvetica;
    width: 20em;
    color: #000;
}

input.custom-button {
    font-size: 35px;
    font-family: monospace;
    color: #F567BC;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: #FFF;
}
input.custom-button:hover{
    color: #A3060D;
}

  
  .tint {
    overflow: hidden;
    float: left;
    background: blue;
    margin: 0 20px 20px 0;
  }

.t1{
    background: #F567BC;
 }

  .t2 {
    background: #A3060D;
  }
  
  .t3 {
    background: #F5DD19;
  }
  
  .t4 {
    background: #562652;
  }

  img {
    float: left;
    display: block;
    -moz-transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

    img:hover {
    opacity: .5;
    cursor: pointer;
  }

  
img:hover span.caption{
    visibility: visible;
}

.caption {
    color: #A3060D;
    font-family: monospace;
    font-size: 60px;
}

label{
    font-family: monospace;
    font-size: 30px;
    color: #A3060D;
}

label:hover{
    color:#F567BC;
}

div.input-container {
    padding: 25px 15px 50px 15px;
}
