input.custom {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #FFF;
    font-family: Helvetica;
    color: #000;
}

input.custom-button {
    font-family: monospace;
    color: #F567BC;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: #FFF;
}
input.custom-button:hover{
    color: #A3060D;
    background-color: #F567BC;
}

  
  .tint {
    overflow: hidden;
    float: left;
    background: blue;
    margin: 0 20px 20px 0;
  }

.t1{
    background: #F567BC;
 }

  .t2 {
    background: #A3060D;
  }
  
  .t3 {
    background: #F5DD19;
  }
  
  .t4 {
    background: #562652;
  }

  img {
    float: left;
    display: block;
    -moz-transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

    img:hover {
    opacity: .5;
    cursor: pointer;
  }

  
img:hover span.caption{
    visibility: visible;
}

.caption {
    color: #A3060D;
    font-family: monospace;
}

label{
    font-family: monospace;
    color: #A3060D;
}

label:hover{
    color:#F567BC;
}

div#map-container{
  /*height:10em;*/
  /*position: fixed;*/
}

div#map {
  height:13em;
  /*position:fixed;*/
  /*width:5em;*/
}

div#images-container {
  /*top: 5em;*/
  overflow:auto;
  height: 600px;
}

input[type=submit]:focus {outline:0;}

body{
  padding: 0px;
}

html, body {margin: 0; height: 100%; overflow: hidden}

