<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Craigslist Zen Mode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="/static/site.css" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header caption">craigslist "zen mode"</div>
    <form role="search"class="navbar-form navbar-left" action="/index" method="post" id='url-form'>
        <div class="form-group">
            <label for="link">craigslist search link</label>
            <input name="link" class="custom form-control" type="url" id='link-input' value="https://sfbay.craigslist.org/search/eby/hhh?sort=date&nh=58&nh=61&nh=62&nh=66&max_price=2000&bedrooms=1&pets_cat=1"></input>
        </div>
        <input class="custom-button btn btn-default" type="submit"></input>
    </form>
    <ul class="nav navbar-nav">
        <li>
            <span id="resultsCountText" class="caption"></span> <span class="caption" id="resultsCount"></span>
        </li>
    </ul>
    <!-- <div id="map"></div> -->
  </div>
</nav>

<!-- <div class="map-container"> -->
    <!-- <div class="row"> -->
        <!-- <div id="map" data-spy="affix" data-offset-top="60" data-offset-bottom="200"></div> -->
    <!-- </div> -->
<!-- </div> -->


<div class="container-fluid">
    <div class="row">
        <div id="map-container" class="col-md-12" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div id="images-container" class="col-md-12">
            {% if images %}
                <div class="wrap">
                {% set i=0 %}
                {% for key in images %}
                    {% if i>4 %}
                        {% set i=0 %}
                    {% else %}
                        {% set i = i+1 %}
                    {% endif %}
                    {% for src in images[key]['pics'] %}
                        <figure class="tint t{{i}}"><a href={{key}}><img src={{src}}></img></a></figure>
                    {% endfor %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    
    
</div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQTwdiY1LBAVpcBfdXkB4Ch0LKEeg5gIg"
  type="text/javascript"></script>
<script src='/static/craig.js'></script>
<script>
      // $('#map-container').affix({
      //     offset: {
      //       top: 0,
      //       bottom: function () {
      //         return (this.bottom = $('.footer').outerHeight(true))
      //       }
      //     }
      // });
</script>

</html>